.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(52, 52, 52);
  z-index: 10;
}

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  width: 100vw;
  z-index: 20;
}

.modal-content {
  /* z-index: 20; */
  /* max-width: 600px; */
}
