main {
  margin-top: 22rem;
}

.subHeading {
  font-size: 1.2rem;
  font-weight: 600;

  // @media (min-width: 768px) {
  //   & {
  //     font-size: 1.2rem;
  //   }
  // }
}

.label {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.text {
  font-size: 0.9rem;
  font-weight: 400;
}
